<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">SYEDSHEIKMOHAMED</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Centered menu items -->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/resume" routerLinkActive="active">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>



        <!-- Right-aligned search -->
    <div class="d-flex align-items-center gap-3">
  <a href="https://www.facebook.com/syedsheik.mohamed.75" target="_blank" class="facebook-link">
    <i class="bi bi-facebook fs-4"></i>
  </a>
  <a href="https://www.instagram.com/official_syed._/" target="_blank" class="instagram-link">
    <i class="bi bi-instagram fs-4"></i>
  </a>
  <a href="https://www.linkedin.com/in/syedsheikmohamed-hajamoideen-2551a5280/" target="_blank" class="linkedin-link">
    <i class="bi bi-linkedin fs-4"></i>
  </a>
  <a href="https://github.com/SheikCars" target="_blank" class="github-link">
    <i class="bi bi-github fs-4"></i>
  </a>
</div>


    </div>
</nav>