<div class="h-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="bg" style="background-image: url('../../../assets/img/syed-one.jpeg'); 
            background-size: cover; 
            background-position: top; 
            height: 90vh;">
                <div class="container d-flex details" style="min-height: 100vh;">
                    <div class="cloud-card text-center p-5  fade-in" style="margin-top: 10%;    box-shadow: 0 4px 20px rgb(0 0 0 / 78%);">
                        <h1 class=" fw-bold text-dark text-style">Syedsheikmohamed</h1>
                        <!-- <div class="underline mx-auto"></div> -->
                        <p class=" fw-bold text-dark" style="font-size: 25px;">
                            I'm a professional
                            <img src="assets/img/angular_wordmark_gradient.png" alt="Angular Logo"
                                style="height: 35px; vertical-align: middle; margin-left: 6px;">
                            Developer
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>