<section id="resume" class="resume section">
    <div class="container">
        <div class="section-title">
            <h2>Resume</h2>
            <div class="underline mx-auto"></div>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item">
                    <h4>Syedsheikmohamed Hajamoideen</h4>
                    <p><em>Solution-focused Front-end Developer with 3.2+ years of experience in Angular, building
                            responsive and scalable web applications with a focus on UI/UX and performance.</em></p>
                    <ul>
                        <li>Thanjavour, Tamil Nadu</li>
                        <li><a href="mailto:syedsheikmd78609&#64;gmail.com">syedsheikmd78609&#64;gmail.com</a></li>
                        <li><a href="https://www.linkedin.com/in/syedsheikmohamed" target="_blank">linkedin.com/in/syedsheikmohamed</a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Computer Application (MCA)</h4>
                    <h5>2021 - 2023</h5>
                    <p><em>Bharathidasan University (Tiruchirappalli)</em></p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Computer Application (BCA)</h4>
                    <h5>2018 - 2021</h5>
                    <p><em>AVVMSPC "Bharathidasan University" (Thanjavour)</em></p>
                </div>

                <h3 class="resume-title">Skills</h3>
                <div class="resume-item">
                    <h4>Front-end Development</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>SCSS</li>
                        <li>Bootstrap</li>
                        <li>Angular 12, 14, 16</li>
                        <li>TypeScript</li>
                        <li>RxJs</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Back-end Development</h4>
                    <ul>
                        <li>.NET</li>
                        <li>ASP.NET</li>
                        <li>REST APIs</li>
                        <li>Web API Development</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Database & Cloud</h4>
                    <ul>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>SQL</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Tools</h4>
                    <ul>
                        <li>Git</li>
                        <li>Jira</li>
                        <li>Bugzilla</li>
                        <li>Postman</li>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Video Editing (Additional Skills):</h4>
                    <ul>
                        <li>Adobe Premiere Pro</li>
                        <li>Final Cut Pro</li>
                        <li>DaVinci Resolve</li>
                        <li>Filmora</li>
                        <li>Adobe After Effects</li>
                    </ul>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Engineer – Rubix Cloud Technologies</h4>
                    <h5>Feb 2022 – Apr 2025</h5>
                    <p><em>Trichy, Tamil Nadu </em></p>
                    <ul>
                        <li>Developed B2B/B2C apps using Angular improving UX and performance.</li>
                        <li>Integrated .NET Core REST APIs with Angular frontend.</li>
                        <li>Led the ezHour HRMS platform (Timesheets, Leave, Employee modules).</li>
                        <li>Built Project Management System for task and workflow automation.</li>
                        <li>Implemented Role-Based Access Control (RBAC).</li>
                        <li>Used Git, GitHub, and Jira for versioning and Agile tracking.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Project Experience</h3>
                <div class="resume-item">
                    <h4>ezHour – Timesheet Management System</h4>
                    <h5>2024 – 2025</h5>
                    <ul>
                        <li>Developed SPA with Angular + Angular Material</li>
                        <li>Lazy loading improved performance by 30%</li>
                        <li>Integrated with .NET Core Web API for backend services</li>
                        <li>Implemented features like timesheets, leave management, and employee management</li>
                        <li>Enhanced user experience with responsive design and real-time updates</li>
                    </ul>
                    <h6>Technologies: Angular, .NET Core, SQL Server, Git, Jira</h6>
                    <h5>Project link: <a href="https://ezhour.com/" target="_blank">ezhour.com</a></h5>
                </div>

                <div class="resume-item">
                    <h4>PMS – Project Management System</h4>
                    <h5>2024</h5>
                    <ul>
                        <li>Task creation, assignment, and team collaboration modules</li>
                        <li>Optimized SQL and RBAC for secure access</li>
                    </ul>
                    <h6>Technologies: Angular, .NET Core, SQL Server, Git, Jira</h6>

                </div>

                <div class="resume-item">
                    <h4>Glamz – Salon Management Platform</h4>
                    <h5>2022 – 2024</h5>
                    <ul>
                        <li>Developed responsive UI with RxJS and Angular</li>
                        <li>Improved B2B and B2C engagement</li>
                    </ul>
                    <h6>Technologies: Angular, .NET Core, MySQL, Git, Jira</h6>

                </div>

                <div class="resume-item">
                    <h4>Clari5 – Fraud Management System</h4>
                    <h5>2024</h5>
                    <ul>
                        <li>Built fraud detection for banking in Java/SQL</li>
                        <li>Handled real-time large-scale data analysis</li>
                    </ul>
                    <h6>Technologies: Java, SQL, MySQL, Jira, Apache Tomcat</h6>
                </div>

                <div class="my-4">
                    <a class="download-btn" href="../../../assets/pdf/Syedsheikmohamed_Angular Resume.pdf" download="Syedsheikmohamed-Resume.pdf">
                        <i class="fas fa-download"></i> Download Resume
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>